@{
    ViewBag.Title = "Trash Collector";
}

<div class="jumbotron">
    <h1>Hello World!</h1>
    <p class="lead">Welcome to Trash Collector!</p>
    <p><a href="https://github.com/esoemad5?tab=repositories" class="btn btn-primary btn-lg">Other Projects &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Sign up for an account, log in, then set up your profile. If you are an employee, make an account and wait for an administrator to change your privilages.
        </p>
        <p><a class="btn btn-default" href="http://localhost:64215/Account/Register">Register &raquo;</a></p>

    </div>
    <div class="col-md-4">
        <h2>You can make multiple profiles!</h2>
        <p>You can have trash picked up at multiple addresses! Simply create a new profile in the Edit Account page! </p>
    </div>
    <div class="col-md-4">
        <h2>Other Column</h2>
        <p>Theres no use for this column, just ignor it please. Nothing to seHELP I'M TRAPPED IN A WEBPAGEe here; nothing at all. Just keep on browsing. Don't bother. Are you still here? Please leave.</p>
        <p><a class="btn btn-default" href="https://www.google.com">Leave &raquo;</a></p>
    </div>
</div>